@import './base.css';

#app {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

/* header */




/* main */

p::selection {
  background-color: #B5E916;
}

h1::selection {
  background-color: #B5E916;
}

main {
  flex: 1 1 auto;
  width: 100%;
  padding: 0 20px;
  max-width: var(--max-width);
  margin: var(--margin-auto);
}

h1 {
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--green-color);
}

h4 {
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--orange-color);
  margin: 0 0 20px 0;
}


/* footer */
