@import './base.css';

#app {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

/* header */




/* main */

p::selection {
  background-color: #B5E916;
}

h1::selection {
  background-color: #B5E916;
}

main {
  flex: 1 1 auto;
  width: 100%;
  padding: 0 20px;
  max-width: var(--max-width);
  margin: var(--margin-auto);
}

h1 {
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--green-color);
}

h4 {
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--orange-color);
  margin: 0 0 20px 0;
}


/* footer */
footer {
  background: #000;
  margin-top: 40px;
} 
  
.footer-wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 40px 20px 20px 20px;
  max-width: var(--max-width);
  margin: var(--margin-auto);
}

footer h5 {
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--grey-color);
  text-transform: uppercase;
}

footer p {
  font-size: var(--font-info);
  color: var(--grey-color);
  font-weight: 400;
  padding: 5px 0;
}

.footer-about {
  display: grid;
  grid-template: 1fr / 2fr 1fr;
  gap: 40px;
}

.footer-border {
  border-bottom: 1px solid white;
}

.сopyright {
  display: grid;
  grid-template: 1fr / 1fr 1fr 1fr;
}